[Unit]
Description=Run acts Tarsnap backup daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=tarsnap-acts.service

[Install]
WantedBy=multi-user.target
